.header
  display: flex
  flex-direction: row
  justify-content: space-between
  height: 550px
  //was 600
  width: 100%
  background: linear-gradient(to bottom right, #FFFFFF, #F1F4F9)
  overflow-y: hidden

  @include tablet
    height: 500px
  @include phonelarge
    display: flex
    flex-direction: column
    height: 100vh
    background-color: lightgrey
  .content
    .header__top
      display: flex
      justify-content: space-between
      height: 120px
      @include phonelarge
        height: 100px
      @include tablet
        height: 100px
        margin-bottom: 25px
      .header__logo
        height: 100%
        width: 200px
        background:
          image: url('../images/mdc-logo.png')
          image: url('../images/mdc-logo.svg')
          position: 0% 100%
          repeat: no-repeat
          size: contain
        @include tablet
          height: 100px
          width: 225px
          background-size: contain
          margin-left: 20px
          margin-top: 20px
        @include phonelarge
          height: 80px
          margin-top: 15px
          margin-left: 10px

      .header__nav
        display: flex
        align-items: flex-end
        list-style: none
        height: 100%
        line-height: 20px
        @include tablet
          display: none
        .header__nav__item
          display: inline-block
          margin-bottom: 4px
          padding: 0px 35px
          font-size: 15px
          color: $grey
          transition: all 0.5s ease
          font-weight: 300
          &:nth-child(4)
            padding-right: 0px
          &:hover
            color: $purple
    .header__bot
      display: flex
      flex-direction: row
      height: 430px
      //was 480
      justify-content: space-between
      @include phonelarge
        flex-direction: column
        height: calc(100vh - 100px)
      &__copy
        display: flex
        flex-direction: column
        justify-content: flex-start
        max-width: 50%
        height: 75%
        align-self: center
        flex: 1
        //background: khaki
        @include tablet
          max-width: 40%
          align-self: flex-start
          height: 100%
        @include phonelarge
          max-width: 100%
          max-height: 50%
          justify-content: center
        .jumbotron__cta
          font-weight: 400
          font-size: 28px
          //was 36
          color: $grey
          letter-spacing: 1px
          margin-top: 60px
          margin-bottom: 10px
          @include tablet
            font-size: 30px
          @include phonelarge
            margin-top: 20px
        .jumbotron__copy
          width: 80%
          font-weight: 300
          font-size: 17px
          //was 20
          color: $lightgrey
          letter-spacing: 1px
          line-height: 30px
          margin-bottom: 25px
          @include tablet
            font-size: 15px
            line-height: 20px

        .jumbotron__button
          width: 150px
          height: 40px
          text-align: center
          color: white
          line-height: 38px
          letter-spacing: .75px
          font-size: 15px
          border-radius: 5px
          background: rgba(126,91,242, 0.8)
          //box-shadow: 0px 0px 20px $lightgrey
          transition: all 0.2s ease-in-out
          &:hover
            transform: scale(1.025)
            box-shadow: 0px 0px 40px grey
          @include tablet
            height: 40px
            width: 120px
            line-height: 40px
            font-size: 14px
          @include phonelarge
            margin-bottom: 55px
            height: 30px
            width: 100px
            line-height: 30px

      &__browser__container
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: flex-end
        height: 100%
        width: 50%
        @include tablet
          width: 50%
        @include phonelarge
          align-self: flex-start
          max-height: 50%
          width: 100%
          //height: calc(100vh - 100px)

        .header__bot__browser
          margin-bottom: -400px
          height: 85%
          width: 85%
          transition: all .75s ease-in-out
          background:
            image: url('../images/browser-window.svg')
            size: contain
            position: bottom
            repeat: no-repeat
          @include edgesnap
            background:
              color: white
              position: top
          @include tablet
            width: 95%
            background:
              size: contain
              color: white
              position: top
          @include phonelarge
            background-color: white
            background-position: top
            align-self: flex-start
            width: 100%
            height: 100%
            background-size: contain
      .browser__show
        margin-bottom: 0px
        position: relative



/*/**
  margin: 0
  padding: 0

/*#hamburger
  width: 60px
  height: 45px
  position: relative
  margin: 50px auto
  transform: rotate(0deg)
  transition: .5s ease-in-out
  cursor: pointer

/*#hamburger span
  display: block
  position: absolute
  height: 9px
  width: 100%
  background: #d3531a
  border-radius: 9px
  opacity: 1
  left: 0
  transform: rotate(0deg)
  transition: .25s ease-in-out

/*/*#hamburger span:nth-child(1)
  top: 0px

/*#hamburger span:nth-child(2)
  top: 18px

/*#hamburger span:nth-child(3)
  top: 36px

/*#hamburger.open span:nth-child(1)
  top: 18px
  transform: rotate(135deg)

/*#hamburger.open span:nth-child(2)
  opacity: 0
  left: -60px

/*#hamburger.open span:nth-child(3)
  top: 18px
  transform: rotate(-135deg)


//image: url('../images/card-1-background.jpg')
