.footer
  .footer__contact__container
    include contact.pug
  .footer__spacer
  .footer__bottom    
    .footer__container
      .footer__container__left
        h1.footer__brand Myers Design Co.
      .test-button
        p CLICK ME  
      ul.footer__container__right
        li.footer__nav__item: a(href='#') home
        li.footer__nav__item: a(href='#') services
        li.footer__nav__item: a(href='#') projects
        li.footer__nav__item: a(href='#') contact
    .footer__copy
      p &copy;	2018 Myers Design Co. All Rights Reserved.
    //.footer__position__check
    
