.top__checker
header.header
  
  .header__top.header__fixed
    .header__top__content
      .header__logo
      ul.header__nav
          li.header__nav__item: a(href='#') Home
          li.header__nav__item: a(href='#') Services
          li.header__nav__item: a(href='#') Projects
          li.header__nav__item: a(href='#') Contact
  .content
  
    .header__bot
      .header__bot__copy
        h2.jumbotron__cta You've got ideas. We've got talent.
        h4.jumbotron__copy We want to help bring your ideas to life in a digital world, in a meaningful way.
        .jumbotron__button Hire Us
        
      .header__bot__browser__container
        .header__bot__browser

.mobile__menu
  #hamburger
    span.span1
    span.span2
    span.span3
          
  .mobile__menu__container
    ul.mobile__nav
        li.mobile__nav__item: a(href='#') Home
        li.mobile__nav__item: a(href='#') Services
        li.mobile__nav__item: a(href='#') Projects
        li.mobile__nav__item: a(href='#') Contact

          
