doctype html
html
  head
    .overlay
    include head.pug

  body
    .overlay
    include header.pug
    include services.pug
    include projects.pug
    include footer.pug
    
    
    
  script(src='assets/js/app-min.js')
    
